@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');

:root{
  --roboto-font: 'Roboto', sans-serif;
  --white-color: #ffffff;
  --grey-color: #efefef;
  --primary-color: #262835;
  --secondary-color: #ff5473;
  --disabled-color: #999999;
}
