@import './config-scss/reset.scss';
@import './config-scss/variables.scss';
@import './config-scss/rem-calc.scss';
@import './config-scss/btn.scss';
@import './config-scss/animation.scss';

html {
  font-family: var(--roboto-font);
  background: var(--primary-color);
}

main {
  margin: 0 auto;
  box-sizing: border-box;
  width: rem-calc(600);
}
